body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.header {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
    color: white;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    margin-top: 5px;
    display: inline-block;
}

.content {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.content h3 {
    text-align: center;
    color: #333;
}

.content p {
    font-size: 18px;
    line-height: 1.6;
}

.content img {
    display: block;
    margin: 20px auto;
    max-width: 300px;
    height: auto;
}

.content table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.content th, .content td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.content th {
    background-color: #337735;
    color: white;
}

.content td {
    background-color: #f9f9f9;
}

form {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #337735;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #1f4420;
}
