body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    color: #333;
    font-size: 20px;
    text-align:center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #28a745; 
    color: white;
    font-size: 16px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

td:nth-child(6) {
    color: #d32f2f; 
    font-weight: bold;
}

button {
    background-color: #28a745;
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: #218838; 
}

button[type="button"] {
    background-color: #f44336; 
}

button[type="button"]:hover {
    background-color: #d32f2f; 
}

button[type="button"] {
    display: inline-block;
    width: auto;
}

p {
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    table {
        width: 90%;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }
}

.home-button {
    margin-left:0px;
}

form{
    max-width:400px;
    margin-bottom:30px;
    margin-left:270px;
    display:inline;
    display:flex;
    align-items:center;
    gap:20px;
}

form input{
    padding:8px;
}

form button{
    min-width:150px;
}